*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.menu,
.products,

.menu {
  background-image: url('../public/images/boba.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('../public/images/boba.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}